@import url('https://fonts.googleapis.com/css?family=Roboto Mono&display=swap');

* {
  box-sizing: border-box;
  /*font-family: "Roboto Mono", monospace, Courier;*/
  margin: 0;
  padding: 0;
}

a:visited,
a:link {
  color: #6e6e6e;
}

a:hover {
  color: black;
}

body {
  font-family: 'Roboto Mono', monospace, Courier;
  background-color: whitesmoke;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  display: block;
  /*background-color: #ddd;*/
  padding: 1px;
  width: 90%;
  margin: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 100%;
}

div.marca {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 30%;
  justify-content: flex-start;
  background: white;
  padding: 10px;
  border: solid #bbb9b9;
  border-width: 1px 0 1px 0;
  margin: 5px 0 1em;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 70%;
  justify-content: left;
  background: white;
  padding: 10px;
  border: solid #bbb9b9;
  border-width: 1px 0 1px 0;
  margin: 5px 0 1em;
  /*gap: 5px;*/
}

.logo {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  margin: 0;
}

.logo .blau,
.fitxa .blau {
  color: dodgerblue;
}

.logo .negre,
.fitxa .negre {
  color: black;
}

.sense_deco {
  text-decoration: none;
}

.sense_deco:link,
.a_logo:visited {
  color: #4a4a4a;
}

.sense_deco:hover {
  color: black;
}

.button {
  background-color: white;
  border: solid 1px #dbdbdb;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  margin: 0 0.5em;
  text-decoration: none;
  border-radius: 4px;
  max-height: 40px;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
}

.button.is-mot {
  background-color: lightblue;
  border-color: transparent;
  color: black;
}

.button.is-yes {
  background-color: #16d44f;
  border-color: transparent;
  color: #fff;
}

.button.is-no {
  background-color: #e0582f;
  border-color: transparent;
  color: #fff;
}

.button.is-new {
  background-color: gold;
  border-color: transparent;
  color: black;
}

.button.is-info:hover,
.button.is-yes:hover,
.button.is-no:hover,
.button.is-new:hover {
  opacity: 0.9;
}

.pregunta {
  background: white;
  padding: 10px;
  border: solid #bbb9b9;
  border-width: 1px 0 1px 0;
  margin: 5px 0 1em;
}

.main {
  display: block;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  width: 100%;
  margin: auto;
  border: solid #4d4d4d;
  border-width: 1px 0 1px 0;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.main h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.main h2 {
  font-size: 1.75em;
  margin-bottom: 1em;
}

.main h3 {
  font-size: 1.55em;
  margin-bottom: 1em;
}

.main pre {
  font-family: 'Roboto Mono', monospace, Courier !important;
  font-size: 1em !important;
  margin-bottom: 2em;
  white-space: pre-wrap;
  word-break: break-all;
}

/*
.main p:not(:last-child) {
  margin-bottom: 2em;
}
*/

.seccio {
  /*background-color: whitesmoke;*/
  margin: 0 0 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}

.seccio li {
  margin: 1rem 0;
}

code {
  display: block;
  overflow-x: auto;
  padding: 1em 0.5em;
  color: black;
  background: whitesmoke;
  margin: 1em 0;
}

mark {
  font-weight: bold;
  background-color: #e3e1e1;
}

.error {
  font-weight: bold;
  color: rgba(228, 68, 68, 0.616);
  text-align: center;
  margin: 0 0 0 1.5em;
}

.ok {
  font-weight: bold;
  color: rgba(38, 204, 5, 0.678);
  text-align: center;
  margin: 0 0 0 1.5em;
}

footer {
  padding: 3em 0;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  div.marca {
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 2px;
  }

  .button {
    margin: 0.2em;
  }

  .ok,
  .error {
    margin: 0;
  }
}
