.hello {
  color: gray;
  font-size: 2rem;
}

.background {
  display: block;
  padding: 100px;
  background: url("./mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  display: block;
}
